body{
    font-family:Nunito, sans-serif;
    background-image:url('https://github.com/The-IT-Geek/salahtimes/blob/master/backgroundno.png?raw=true');
    background-size:cover;
    color:white;
}
.td{
    display: flex;
    justify-content:center;
    align-items:center;
    color:red;
    text-align:center;
    width:1000px;
    height:200px;
    background-color:white;
    grid-area:u;
    border-radius:25px;
}
.boxx{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . u . ."
    ". . u . ."
    ". . u . ."
    ". . u . ."
    ". . u . .";
    padding-bottom:30px;
    margin-top:-30px;
}

.box{
    display: flex;
    justify-content:center;
    align-items:center;
    width:250px;
    height:100px;
    box-shadow: 0px 0px 20px 5px #ff0000;
    font-size:50px;
}
/* .loc{
    margin-top:60px;
    margin-right:100px;
} */
.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". g . a ."
    ". h . b ."
    ". i . c ."
    ". j . d ."
    ". k . e ."
    ". l . f .";
    grid-row-gap:50px;
}
.nbox{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:2.5em;
}
.one{
    grid-area:a;
    font-size:70px;
}
.onetwo{
    grid-area:b;
    font-size:70px;
}
.two{
    grid-area:c;
    font-size:70px;
    }
.three{
    grid-area:d;
    font-size:70px;
}
.four{
    grid-area:e;
    font-size:70px;
}
.five{
    grid-area:f;
    font-size:70px;
}
.none{
    grid-area:g;
    font-size:70px;
}
.nonetwo{
    grid-area:h;
    font-size:70px;
}
.ntwo{
    grid-area:i;
    font-size:70px;
}
.nthree{
    grid-area:j;
    font-size:70px;
}
.nfour{
    grid-area:k;
    font-size:70px;
}
.nfive{
    grid-area:l;
    font-size:70px;
}
@media only screen and (max-width: 1000px) {
    .td{
        display: flex;
        justify-content:center;
        align-items:center;
        color:red;
        text-align:center;
        width:850px;
        height:250px;
        background-color:white;
        grid-area:u;
        border-radius:25px;
        margin-bottom:100px;
        font-size:50px;
        }
    .container{
        margin-top:-100px;
        }
    .one{
        grid-area:a;
        font-size:100px;
    }
    .onetwo{
        grid-area:b;
        font-size:100px;
    }
    .two{
        grid-area:c;
        font-size:100px;
        }
    .three{
        grid-area:d;
        font-size:100px;
    }
    .four{
        grid-area:e;
        font-size:100px;
    }
    .five{
        grid-area:f;
        font-size:100px;
    }
    .none{
        grid-area:g;
        font-size:100px;
    }
    .nonetwo{
        grid-area:h;
        font-size:100px;
    }
    .ntwo{
        grid-area:i;
        font-size:100px;
    }
    .nthree{
        grid-area:j;
        font-size:100px;
    }
    .nfour{
        grid-area:k;
        font-size:100px;
    }
    .nfive{
        grid-area:l;
        font-size:100px;
    }
    .box{
        display: flex;
        justify-content:center;
        align-items:center;
        width:400px;
        height:200px;
        box-shadow: 0px 0px 20px 5px #ff0000;
        }
}
